<div class="container py-5" style="background-image: url(<%= asset_path('Movie-yw.png') %>)">
<div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <div class="text-center">
        <h1> Create a list  </h1>
      </div>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Horror' %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
</div>
